.page-layout {
  display: grid;
  grid-template-columns:
    minmax(13rem, 16rem)
    minmax(0, 1fr)
    minmax(13rem, 16rem);

  align-items: start;

  gap: 1.5rem;
  width: min(100% - 2rem, 90rem);
  margin-inline: auto;
  padding-block: 1rem;
}

.page-layout > :first-child,
.page-layout > :last-child {
  margin-top: 2rem;
}

@media (max-width: 900px) {
  .page-layout {
    grid-template-columns: 1fr;
  }

  .page-layout > :first-child,
  .page-layout > :last-child {
    margin-top: 0;
  }
}